:host {
    display: block;
    height: 100vh;
    background: #d6d8ba;
    padding: 1rem;
  }

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  /* En pantallas pequeñas, el sidebar se oculta y el botón hamburguesa se muestra */
  .p-sidebar {
    width: 250px;
    /* Ajusta el ancho según tus necesidades */
  }
  
  /* Botón de hamburguesa */
  .p-button-rounded.p-button-text {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10001; /* Asegurarse de que se superponga sobre el contenido */
  }
}