<p-sidebar [(visible)]="displaySidebar" position="left" [baseZIndex]="10000" [modal]="true">
  <div class="logo">
  </div>

  <p-menu [model]="items">
    <ng-template #item let-item>
      <ng-container *ngIf="item.route; else elseBlock">
        <a [routerLink]="item.route" class="p-menu-item-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-container>

      <ng-template #elseBlock>
        <a [href]="item.url" class="p-menu-item-link" target="_blank">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
    </ng-template>
  </p-menu>

  <button *ngIf="!isAuthenticated" pButton label="Login" icon="pi pi-sign-in" (click)="login()"></button>
  <button *ngIf="isAuthenticated" pButton label="Logout" icon="pi pi-sign-out" (click)="logout()"></button>
</p-sidebar>

<button *ngIf="!displaySidebar" pButton icon="pi pi-bars" class="p-button-rounded p-button-text" (click)="toggleSidebar()"></button>
