
@media (max-width: 768px) {
  .p-sidebar {
    width: 250px;
  }
  
  .p-button-rounded.p-button-text {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10001; 
  }
}